/*body*/
body{
    padding: 0;
    margin: 0;
    font-family:inherit;
}

a{
    color: inherit;
    text-decoration: none;
}

/*header*/
header{
    display: flex;
    width: 100%;
    height: 74px;
    margin: 0 auto;
    position: fixed;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 32%, #80D0C7 58%);
}


header h1{
    float: left;
    padding: 15px 10px;
    padding-left: 5 px;
    color: rgb(255, 255, 255);
}

header ul{
    float: right;
    padding-right: 5px;
}

header ul li{
    display: inline-block;
}

header ul li a{
    padding: 25px 20px;
    display: inline-block;

}

header ul li a:hover{
    background-color: #147C8C;
    color: white;
}

.icon{
    font-size: 20px;
    display: flex;
}
/*header*/

/*banner*/
.banner{
    height: 60vh;
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    height: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    width: 100%;
}

.banner img{
    width: 300px;
    height: 300px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    position:static;
    border: 6px solid white;
    margin:98px 49px 98px 49px;


}

.nama h2 h1{
    width: 100px;
    text-align: center;

}


h2 span:before{
    content:'';
    animation: gerak infinite 5s ease;
    transform: translateY(-50%);
    color: red;
    font-family: 70px;
}

@keyframes gerak{
    0%{
        content: 'Selamat Datang';
    }
    100%{
        content: 'Saya Agung Putra Ramadhan';
    }

}
/*banner*/

/*halaman 2*/
.konten1{
    padding: 30px;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: static;
}

.box{
    text-align: center;
    padding: 0 10px;
    position: static;
    display: block;
}

.skill{
    text-align: center;
    color: black;    
}
.halaman2{
    height: 300px;
}

#vscode{
    width: 250px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

#ai{
   width: 200px;
   aspect-ratio: 1/1;
   object-fit: cover; 
}

#sublime{
    width: 250px;
    aspect-ratio: 1/1;
    object-fit: cover;
}
/*halaman 2*/

/*halaman 3*/
.konten2{
    width: 90%;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.kotak{
    height: 300px;
    width: 200px;
    text-align: center;
    margin:0 10px;
    float: left;
    box-shadow: 0 0 20px 2px black;
    transition: 0.8s all ease;
    background-color: #FBDA61;
    background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
    border-radius: 10px;
    align-content: center;
}

.kotak:hover{
    transform: initial;
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    color: white;
}

.pendidikan{
    text-align: center;
    color: rgb(0, 0, 0);
    padding-bottom: 30px;
    margin-top: 100px;
}

.halaman3{
    background-color: rgb(255, 255, 255);
    height: 500px;
}
/*halaman 3*/

/*halaman 4*/

.formulir{
    width: 40%;
    max-width: 600px;
    margin: 100px auto;
    padding: 50px;
    background: rgb(54,195,35);
    background: linear-gradient(51deg, rgba(54,195,35,1) 28%, rgba(0,142,255,1) 91%);
    border-radius: 10px;
    box-shadow: 0 5px 10px black;
    box-sizing: border-box;
}

form{
    text-align: center;
}
.formulir h1{
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

form input,
form textarea{
    display: inline-block;
    width: 90%;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f7f7f7;
    color: #333; 
}

form input:focus,
form textarea: focus{
    outline: none;
    box-shadow: 0 0 5px #333;    
}

textarea{
    resize: none;
}

form button{
    display: inline-block;
    width: 20   %;
    padding: 10px;
    border: none;
    border-radius: 5px;
    bbackground-color: #FEE140;
    background-image: linear-gradient(90deg, #FEE140 0%, #FA709A 100%);
    color: black;
    cursor: pointer;
    transition: 20s all ease;
    justify-content: center;
}

form button:hover{
    background-color: #FFE53B;
    background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);

}
/*halaman 4*/

/*footer*/

.footer{
    background-color: gray;
    width: 100%;
    height: 40px;
    color: white;
    padding: 6px;
    margin:50px auto 0px;
    text-align: center;
    display: inline-block;
}
/*footer*/

@media screen and (max-width: 390px){
    .banner {
        flex-direction: column;
        text-align: center;
        margin-top: 10px;
        padding-top: 100px;
    }

    .banner img {
        max-width: 80%;
        margin-top: 20px;
    }

    .container{
        padding-top: 0;
    }

    header h1 {
        font-size: 20px;
        float: none;
        text-align: center;
    }

    header ul {
        float: right;
        font-size: 15px;
    }

    header ul li {
        float: none;
        text-align: center;
    }

    .halaman3{
        padding-top: 300px;
        margin-top: 300px;
    }

    .konten1 {
        flex-direction: column;
        align-items: center;
    }

    .kotak {
        width: 50%;
        margin-bottom: 20px;
        align-content: center;
        height: 200px;
        width: 100px;
        padding: 10px;
    }

    .kotak h3 {
        font-size: 16px;
    }

    .kotak p {
        font-size: 14px;
    }

    .formulir{
    width: 90%;
    }

    form input,
    form textarea{
    padding: 3px;
    } 

/* Additional styles for very small screens (e.g. mobile phones) */
@media screen and (width: 428px) {
   .banner {
        display: flex;
        flex-direction: column;
    }

    .banner img {
        max-width: 80%;
        margin-top: 20px;
    }

    .container{
        padding-top: 0;
    }

    header h1 {
        font-size: 10px;
        text-align: center;
        float: none;
    }

    header ul {
        float: right;
        font-size: 15px;
    }

    header ul li {
        float: right;
        font-size: 20px;
    }

    .halaman3{
        padding-top: 300px;
        margin-top: 300px;
    }

    .konten1 {
        flex-direction: column;
        align-items: center;
    }

    .kotak {
        width: 50%;
        margin-bottom: 20px;
        align-content: center;
        height: 200px;
        width: 100px;
        padding: 10px;
    }

    .kotak h3 {
        font-size: 16px;
    }

    .kotak p {
        font-size: 14px;
    }

    .formulir{
    width: 600px;
    }

    form input,
    form textarea{
    padding: 3px;
    } 